.about-html {
    background-color: #f5f8f5;
}

.about-body {
    width: 100%;
    margin: 0 auto;
}

.about-us-header {
    width: 100%;
    margin: 0% auto;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: rgb(33, 47, 248);

    @media (max-width: 800px){
        margin-top: 15%;
    }

    @media (max-width: 500px){
        margin-top: 0%;
        padding-top: 15%;
    }

    h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 3rem;
        color: white;
        width: 100%;
        text-align: center;
        padding-top: 5%;
        margin: 0 auto;

        @media (max-width: 500px) {
            font-size: 2rem;
            padding-top: 10%;
            padding-bottom: 5%;
        }
    
    }
    p {
        font-family: 'Roboto', sans-serif;
        color: white;
        width:70%;
        font-size: 1.2rem;
        text-align: center;
        margin: 0 auto;
        padding-top: 2%;
        padding-bottom: 2%;
        line-height: 25px;

        @media (max-width: 800px){
            font-size: .8rem;
            text-align: justify;
        }

        @media (max-width: 500px) {
            line-height: 35px;
            padding-bottom: 12%;
            font-weight: 500;
        }
    
    }

    .app-dash {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 750px;
        max-height: 850px;
        padding-bottom: 2%;

        @media (max-width: 800px){
            width: 90%;
        }
    }

    .info h1 {
        color: black;
        padding-top: 5%;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .info p {
        color: black;
        width: 80%;
    }

    .icon-grid {
        display: flex;
        flex-direction: row;
        justify-content: center;

        @media (max-width: 500px){
            display: flex;
            flex-direction: column;
            grid-template-columns: 1fr 1fr; 
        }


        .icons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0% 3% 0% 3%;
            padding-top: 5%;
            padding-bottom: 5%;

            img {
                margin: 0 auto;
                width: 100%;
                max-width: 100px;
                max-height: 100px;
            }

            p {
                color: white;
                text-align: center;
                width: 100%;
            }
        }
    }

}

.about-us-container {
    
    .about-header {
        width: 58%;
        margin: 0% auto;
        margin-top: 5%;
        margin-bottom: 5%;

        @media (max-width: 800px){
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 2%;
            padding-bottom: 2%;
            margin-bottom: 0%;
        }
    
        @media (max-width: 500px){
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 10%;
            padding-bottom: 20%;
        }

        .features {
            display: flex;
            justify-content: center;
            height: auto;
            padding-top: 10%;
            padding-bottom: 0%;

            @media (max-width: 1440px){
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-bottom: 0%;
                margin-left: 8%;
            }
    
        
            .iphone-img {
                padding-right: 5%;
        
                img {
                    width: 150%;
                    max-width: 875px;
                    max-height: 1080px;

                    @media (max-width: 1440px){
                        width: 85%;
                        padding-bottom: 8%;
                    }
                }
            }
        
            .info {
                h1 {
                    font-family: 'Roboto', sans-serif;
                    margin-left: 20%;
                    margin-right: 5%;
                    padding-bottom: 10px;
                    font-size: 2.5rem;
                    border-bottom: 5px solid rgb(33, 47, 248);
                    font-weight: 700;
                    color: rgb(33, 47, 248);

                    @media (max-width: 800px){
                        font-size: 2.5rem;
                        margin-left: 5%;
                    }
                }
        
                p {
                    font-family: 'Roboto', sans-serif;
                    padding-top: 5%;
                    margin-left: 20%;
                    margin-right: 5%;
                    line-height: 35px;
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: grey;

                    @media (max-width: 800px){
                        margin-left: 5%;
                    }

                    @media (max-width: 500px){
                        padding-bottom: 8%;
                    }
                }
                .main-button {
                    margin-left: 20%;
                    margin-top: 5%;
                    width: 250px;
                    padding: 10px 0px 10px 0px;
                    text-align: center;
                    background-color: rgba(0, 0, 0, 0);
                    border: 2px solid rgb(33, 47, 248);
                    border-radius: 3px;
                    font-weight: 700;
                    color: rgb(33, 47, 248);
                    cursor: pointer;
            
                    @media (max-width: 800px) {
                        margin: 0 auto;
                        margin-bottom: 20px;
                        width: 90%;
                    }
                    
            
                }

                .main-button:hover {
                    background-color: rgb(33, 47, 248);
                    border: 2px solid rgb(33, 47, 248);
                    color: white;
                    transition: .5s;
            
                }
            }
        
        }
    }
}
