html {
    background-color: #f8f8f8;

}
.home-page {
    width: 100%;
    margin: 0 auto;
    background-image: url(https://i.ibb.co/HgDQ6KJ/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
    @media (max-width: 500px){
        width: 99%;
    }
}

.navigation {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: fixed;
    top: 0;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.137);


    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .login {
        width: 10%;
        background-color: rgba(109, 109, 109, 0);
        border: 2px solid rgb(67, 79, 241);
        border-radius: 5px;
        padding: 10px 0px 10px 30px;
        text-align: center;
        cursor: pointer;

        @media (max-width: 800px){
            padding: 3px 20px 3px 50px;
            width: 8%;
        }

        @media (max-width: 500px){
            display: none;
        }
    
        a {
            color: rgb(67, 79, 241);
        }
    }

    .login:hover{
        background-color: #202ef8;
        transition: .5s;
        a {
            color: white;
        }
    }
    .main-nav {
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0% 2% 0% 2%;

        @media (max-width: 800px){
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 0% 2% 0% 2%;
        }
        @media (max-width: 500px){
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        img {
            height: auto;
            width: 8%;

            @media (max-width: 800px){
                display: none;
            }
        }

    }

    a {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: .8rem;
        color: rgb(37, 37, 37);
        font-weight: 700;
        cursor: pointer;
        margin-right: 40px;
        
        @media (max-width: 800px){
            padding-right: 30px;
            margin-right: 0px;
        }

        @media (max-width: 500px){
            padding-right: 0px;
            margin-right: 0px;
        }

        
    }
    .links:hover {
        transition: .2s;
        color: #202ef8;
        padding-bottom: 5px;
        border-bottom: 2px solid #202ef8;
    }

}

.cover {
    width: 100%;
    padding-top: 16%;
    padding-bottom: 295px;
    margin: 0 auto;

    @media (max-width: 800px) {
        padding-top: 16%;
        padding-bottom: 30px;
    }

    @media (max-width: 500px){
        width: 95%;
        padding-top: 10%;
        padding-bottom: 0px;
        margin-top: 5%;
    }

    .cover-content{
        display: flex;
        flex-direction: column;
        margin: 0% 20% 2% 20%;
        padding: 20px 50px 20px 50px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.137);

        @media (max-width: 800px){
            width: 70%;
            padding: 60px 50px 60px 50px;
            margin: 0 auto;
        }

        @media (max-width: 500px) {
            width: 70%;

        }

        img {
            width: 5%;
        }
        
        .cover-text {
            font-size: 1.5rem;
            //text-transform: uppercase;
            color: rgb(53, 53, 53);
            font-family: 'Roboto', sans-serif;
            font-size: 2rem;
            font-weight: 700;
            line-height: 30px;
            text-align: center;
            border-bottom: 2px solid rgb(236, 236, 236);
            padding: 5% 0% 2% 0%;

            @media (max-width: 500px) {
                font-size: 1rem;
                line-height: 20px;
                padding: 0% 0% 5% 0%;
            }

        }

        .cover-body{
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            color: rgb(85, 85, 85);
            text-align: center;
            padding-bottom: 2%;
            padding-top: 2%;
            line-height: 20px;

            @media (max-width: 800px){
                font-size: 1rem;
                line-height: 30px;
            }
        }
        .sign-up {
            margin: 0 auto;
            margin-bottom: 20px;
            width: 30%;
            padding: 10px 50px 10px 50px;
            background-color: rgb(30, 230, 47);
            border: 0px solid black;
            border-radius: 3px;
            font-weight: 700;
            color: white;
            cursor: pointer;  

            @media (max-width: 1440px){
                width: 40%;
            }

            @media (max-width: 800px){
                width: 100%;
                margin-top: 5%; 
            }
            @media (max-width: 500px){
                width: 100%;
            }

        }
        .sign-up:hover {
            background-color: rgb(108, 241, 67);
            border: 0px solid black;
            color: white;
            transition: .5s;
        }
    }

}

.more-info {
    display: flex;
    margin: 0 auto;
    margin: 18% auto 6% auto;
    justify-content: space-between;
    width: 54%;

    @media (max-width: 1440px){
        margin: 0% auto 6% auto;
    }

    @media (max-width: 800px) {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0% auto 6% auto;
    }

    @media (max-width: 500px) {
        width: 90%;
        display: flex;
        flex-direction: column;
        border-top: 2px solid rgb(231, 231, 231);
        padding-top: 40px;
    }

    .info-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: rgb(26, 26, 26);
        padding-bottom: 20px;
        padding-right: 20px;
        line-height: 25px;

        @media (max-width: 800px){
            width: 100%;
        }

        @media (max-width: 500px){
            width: 100%;
        }
    }

    .main-button {
        margin: 0 auto;
        width: 250px;
        padding: 10px 0px 10px 0px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid rgb(33, 47, 248);
        border-radius: 3px;
        font-weight: 700;
        color: rgb(33, 47, 248);
        cursor: pointer;

        @media (max-width: 800px) {
            margin-bottom: 20px;
            width: 100%;
        }
        
        @media (max-width: 500px) {
            width: 100%;
            margin: 0 auto;
        }

    }

    .main-button:hover {
        background-color: rgb(33, 47, 248);
        border: 2px solid rgb(33, 47, 248);
        color: white;
        transition: .5s;

    }
    
    p {
        width: 90%;
        font-family: 'Roboto', sans-serif;
        line-height: 20px;
        color: grey;
        font-size: .8rem;
        text-align: justify;

        @media (max-width: 800px){
            width: 100%;
        }

        @media (max-width: 500px){
            width: 100%;
            margin-top: 8%;
        }
    }
}

.grid {
    width: 56.5%;
    margin: 0 auto;
    
    .grid-images{
        width: auto;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40%, .5fr));
        grid-gap: 5px;
    
        .grid-img {
            img {
                object-fit: cover;
                width: 100%;
                height: 80vh;

                @media (max-width: 500px){
                    width: 100%;
                    height: 20vh;
                }

                @media (max-width: 800px){
                    width: 100%;
                    height: 30vh;
                }
            }
        }
    
    }
}

.overview {
    width: 58%;
    margin: 0% auto;
    margin-top: 5%;
    margin-bottom: 5%;

    @media (max-width: 800px){
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: 0%;
    }

    @media (max-width: 500px){
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 50%;
        padding-bottom: 20%;
    }

    .overview-post {
        display: flex;
        justify-content: center;
        height: auto;
        padding-top: 10%;
        padding-bottom: 15%;
        border-top: 2px solid rgb(236, 236, 236);

        @media (max-width: 1440px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 5%;
            margin-left: 8%;
        }

        img {
            width: 90%;
            max-width: 550px;
            max-height: 650px;
        }

        h3 {
            font-family: 'Roboto', sans-serif;
            margin-left: 5%;
            margin-right: 5%;
            padding-bottom: 10px;
            font-size: 4rem;
            border-bottom: 5px solid rgb(33, 47, 248);
            font-weight: 700;
            color: rgb(33, 47, 248);

            @media (max-width: 800px){
                font-size: 2.5rem;
            }
        }

        p {
            font-family: 'Roboto', sans-serif;
            padding-top: 5%;
            margin-left: 5%;
            margin-right: 5%;
            line-height: 35px;
            font-size: 1.2rem;
            font-weight: 500;
            color: grey;

        }

    }

    .overview-post-reversed {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        height: auto;
        padding-top: 5%;
        padding-bottom: 5%;

        @media (max-width: 1440px){
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-bottom: 5%;
        }

        img {
            width: 90%;
            max-width: 550px;
            max-height: 650px;
        }

        h3 {
            font-family: 'Roboto', sans-serif;
            margin-right: 5%;
            margin-left: 5%;
            padding-bottom: 10px;
            font-size: 4rem;
            border-bottom: 5px solid rgb(33, 47, 248);
            font-weight: 700;
            color: rgb(33, 47, 248);

            @media (max-width: 800px){
                font-size: 2.5rem;
            }
        }

        p {
            font-family: 'Roboto', sans-serif;
            padding-top: 5%;
            margin-left: 5%;
            margin-right: 5%;
            line-height: 35px;
            font-size: 1.2rem;
            font-weight: 500;
            color: grey;

        }

    }

}


.team {
    font-family: 'Roboto', sans-serif;
    width: 53%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 2px solid rgb(236, 236, 236);
    border-top: 2px solid rgb(236, 236, 236);

    @media (max-width: 1440px){
        width: 74%;
        margin: 0 auto;
    }
    

    @media (max-width: 800px){
        width: 93%;
    }

    h2 {
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 20px;
        padding-bottom: 20px;
        color: rgb(53, 53, 53);
        
        @media (max-width: 500px){
            width: 100%;
        }
    }

    .team-images {
        width: auto;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        grid-gap: 1%;

        .image {
            img {
                width: 100%;
            }
        }
    }
}

.testimonies {
    width: 69%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;

    @media (max-width: 500px){
        width: 100%;
        margin: 0 auto;
    }


    .testimony-header {
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        line-height: 30px;
        text-align: center;
        padding-bottom: 50px;
        font-weight: 750;
        color: rgb(48, 48, 48);
        margin: 0 auto;
    }

    .stars {
        width: 150px;
        margin: 0 auto;
        padding-bottom: 50px;

        p {
            font-family: 'Roboto', sans-serif;
            text-align: center;
            padding-top: 5px;
            color: grey;
            font-size: 1rem;
        }

        img {
            width: 100%;
            margin: 0 auto;
        }
    }

    .tabs {
        display: flex;
        justify-content: space-evenly;
        width: 300px;
        margin: 0 auto;

        @media (max-width: 500px) {
            width: 250px;
        }

        h3 {
            font-family: 'Roboto', sans-serif;
            padding: 6.5px 10px 6.5px 10px;
            margin-bottom: 10%;
            font-weight: 700;
            color: rgb(17, 17, 17);
            cursor: pointer;
        }

        h3:hover {
            color:rgb(33, 47, 248);
        }

        .active-tab {
            color:rgb(33, 47, 248);
        }

    }


    .testimony-grid {
        display: grid;
        grid-gap: 3%;
        grid-template-columns: repeat(auto-fill, minmax(31.3%, 0fr));
        margin: 0 auto;
        margin-bottom: 15%;

        @media (max-width: 800px){
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @media (max-width: 500px){
            display: flex;
            flex-direction: column;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.027);
        width: 100%;
        border-radius: 5px;

        @media (max-width: 800px) {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        @media (max-width: 500px) {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        .review-body {
            padding: 20px 20px 20px 20px;
        }
        h3 {
            font-family: 'Roboto', sans-serif;
            color: rgb(143, 143, 143);
            line-height: 25px;
            font-size: .8rem;
            font-weight: 500;
        }
        p {
            padding-top: 10px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            color: rgb(67, 79, 241);
        }
    }


}

.footer {
    background-color: rgb(33, 47, 248);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 8%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    @media (max-width: 1440px){
        display: flex;
        flex-direction: column-reverse;
    }

    @media (max-width: 500px) {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column-reverse;
    }

    .about-us{
        margin: 0% 0% 5% 5%;
        width: 30%;

        @media (max-width: 1440px){
            width: 90%;
        }

        @media(max-width: 500px){
            margin: 10% 0% 2% 5%;
            width: 90%;
        }

        h1 {
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
            font-weight: 500;
            padding-bottom: 20px;

            @media(max-width: 500px){
                text-align: center;
            }
        }
        p {
            color: white;
            font-family: 'Roboto', sans-serif;
            line-height: 25px;

            @media(max-width: 500px){
                text-align: justify;
            }

        }
    }

    .contact {
        margin: 0% 0% 5% 5%;
    }

    .contact h3 {
        color: white;
        padding-bottom: 8%;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;


        @media (max-width: 500px) {
            padding-bottom: 5%;
            color: white;
            font-size: .8rem;
        }
    }

    .contact-footer {
        margin: 0% 0% 5% 5%;
        width: 600px;
       
        @media (max-width: 800px){
            max-width: 400px;
        }

        @media (max-width: 500px) {
            max-width: 320px;
            margin: 0 auto;
        }

        h1 {
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
            font-weight: 500;

            @media (max-width: 500px) {
                color: white;
                font-size: 1rem;
                text-align: center;
            }
        }


        .contact-form {
            max-width: 600px;
            overflow: hidden;

            @media (max-width: 500px) {
                max-width: 320px;
            }
        }

        .contact-form-text {
            display: block;
            width: 100%;
            box-sizing: border-box;
            margin: 16px 0;
            background-color: rgba(0, 0, 0, 0);
            border: 0px;
            border-bottom: 2px solid rgb(211, 211, 211);
            padding-bottom: 10px;
            outline: none;
            font-family: 'Roboto', sans-serif;
            color: white;
        }

        ::placeholder{
            color: white;
        }

        textarea.contact-form-text {
            resize: none;
            height: 120px;
        }

        .contact-form-btn {
            margin: 0 auto;
            width: 100%;
            padding: 10px 0px 10px 0px;
            text-align: center;
            background-color: rgb(30, 230, 47);
            border: 0px solid black;
            border-radius: 3px;
            font-weight: 700;
            color: white;
            cursor: pointer;
        }

        .contact-form-btn:hover {
            background-color: rgb(108, 241, 67);
            border: 0px solid black;
            transition: .5s;
        }

    }
}